<div class="row small">
  <div class="col-12 pt-2">
    <div class="card">
      <div class="card-body p-2">
        <h6 class="card-title"> Staking</h6>
        <table class="table">
          <tbody>
          <tr id="Cosmos">
            <th scope="row"><img class="icon"
                                 src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/cosmos/validators/assets/cosmosvaloper102ruvpv2srmunfffxavttxnhezln6fnc54at8c/logo.png"
                                 alt="Ztake"></th>
            <td>Ztake</td>
            <td>11%</td>
            <td>17777</td>
            <td>ATOM</td>
            <td><i class="fas fa-chevron-right"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row small">
  <div class="col-12 pt-2">
    <div class="card">
      <div class="card-body p-2">
        <h6 class="card-title"> Blockhains</h6>
        <table class="table">
          <tbody>
          <tr>
            <th scope="row"><img class="icon"
                                 src="https://assets.trustwalletapp.com/blockchains/cosmos/info/logo.png"
                                 alt="cosmos">
            </th>
            <td>Cosmos</td>
            <td>{{(cosmosAnnualRate | async) || '...'}}</td>
            <td>ATOM</td>
            <td><i class="fas fa-chevron-right"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
