<div class="container-fluid pt-2 blue-custom">
  <div class="row small pt-2">
    <div class="text-center col-12 d-flex justify-content-around mb-2">
      <div style="width: 50px;display: inline-block;">
        <img src="/assets/images/trust_logo.svg" alt="trust">
      </div>
    </div>
  </div>

  <div class="container p-0 pl-2 pr-2 pt-2 pb-3">
    <div class="container ">
      <div class="row small">
        <div class="col-12 card">
          <app-account-info></app-account-info>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container pt-3">
  <router-outlet></router-outlet>
</div>

