<div class="top-blue container-fluid"></div>
<div class="container pt-4">
  <div class="row small">
    <div class="text-center col-12 d-flex justify-content-around">
      <div><img class="icon-trust" src="https://avatars0.githubusercontent.com/u/32179889?s=200&v=4" alt="trust">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="container">
    <div class="row small">
      <div class="col-12 card pt-4">
        <div class="balances-box card-body p-0 d-flex justify-content-between">
          <div>
            <div>My Balance</div>
            <div>Staked</div>
          </div>
          <div>
            <div>{{(fiat$ | async) || '...' }} </div>
            <div>0</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
