<div class="container pt-2">
  <div class="row small">
    <div class="col-12 pt-2">
      <div class="card">
        <div class="card-body p-2">
          <div class="col-12 text-center">
            <img style="width: 90px"
                 src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/cosmos/validators/assets/cosmosvaloper102ruvpv2srmunfffxavttxnhezln6fnc54at8c/logo.png"
                 alt="cosmos">
          </div>
          <div class="text-center pt-1">
            <p class="description">We have been participating in the validating role since early 2018 and is a proud
              member of the Never Jailed Crew of the Game of Stakes</p>
          </div>
          <div style="display: grid; grid-template: 1fr 1fr  / 1fr 1fr;"
               class="col-12 text-center pt-2">
            <div>
              <h5>Annual Rate (APR)</h5>
            </div>
            <div>
              <h5>Staked amount</h5>
            </div>
            <div>
              <p class="metric">9.65%</p>
            </div>
            <div>
              <p class="metric">0</p>
            </div>
          </div>
          <div class="col-12 text-center pt-2">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
              </div>
              <input placeholder="Enter ATOM to stake" type="number" class="form-control" aria-label="Large"
                     aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <div class="col-12 text-center pt-4 pb-4">
            <button class="btn btn-info btn-lg col-12">STAKE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
